W-lan Stabilizer
[{"id":"49db1205.5220ec","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8f4fcea6.e2cbd","type":"exec","z":"49db1205.5220ec","command":"sudo wpa_cli reassociate && sudo dhcpcd --reconfigure","addpay":"","append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Restart services","x":560,"y":320,"wires":[["b45a62e9.a7edd"],[],[]]},{"id":"baf7b937.43b558","type":"ui_button","z":"49db1205.5220ec","name":"","group":"f9df49fe.c0cc18","order":1,"width":0,"height":0,"passthru":false,"label":"Internet Neustart","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":130,"y":220,"wires":[["8f4fcea6.e2cbd"]]},{"id":"c8db46b.7c724b8","type":"ui_text","z":"49db1205.5220ec","group":"f9df49fe.c0cc18","order":3,"width":0,"height":0,"name":"","label":"Status","format":"{{msg.payload}}","layout":"col-center","x":870,"y":100,"wires":[]},{"id":"331d1a75.8c4d66","type":"ping","z":"49db1205.5220ec","protocol":"Automatic","mode":"timed","name":" RouterPing","host":"192.168.0.1","timer":"45","inputs":0,"x":60,"y":40,"wires":[["dc9d4940.f02f58","eef6b22a.4430c"]]},{"id":"fe6b63b4.3b7c2","type":"switch","z":"49db1205.5220ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"3","v2t":"num"},{"t":"btwn","v":"3","vt":"num","v2":"6","v2t":"num"},{"t":"btwn","v":"6","vt":"num","v2":"20","v2t":"num"},{"t":"false"}],"checkall":"false","repair":false,"outputs":4,"x":390,"y":120,"wires":[["c81e3a20.8b98a8","d72bac9f.5104e"],["96f012da.78449","d72bac9f.5104e"],["528f8180.f6d3f","d72bac9f.5104e"],["1bc3ae2c.052462","8f4fcea6.e2cbd"]]},{"id":"c81e3a20.8b98a8","type":"change","z":"49db1205.5220ec","name":"Perfekt","rules":[{"t":"set","p":"payload","pt":"msg","to":"That's some fine speed.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":40,"wires":[["c8db46b.7c724b8"]]},{"id":"528f8180.f6d3f","type":"change","z":"49db1205.5220ec","name":"Langsam","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ping speed is a bit slow.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":120,"wires":[["c8db46b.7c724b8"]]},{"id":"96f012da.78449","type":"change","z":"49db1205.5220ec","name":"Normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"Everything is fine.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":80,"wires":[["c8db46b.7c724b8"]]},{"id":"2df8a36b.3ec9ec","type":"ui_text","z":"49db1205.5220ec","group":"f9df49fe.c0cc18","order":3,"width":0,"height":0,"name":"","label":"Terminal output","format":"{{msg.payload}}","layout":"col-center","x":920,"y":260,"wires":[]},{"id":"1bc3ae2c.052462","type":"change","z":"49db1205.5220ec","name":"Fehler","rules":[{"t":"set","p":"payload","pt":"msg","to":"Something is wrong.  Trying to fix it.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":160,"wires":[["c8db46b.7c724b8"]]},{"id":"600fc82.4be9938","type":"ui_chart","z":"49db1205.5220ec","name":"","group":"f9df49fe.c0cc18","order":4,"width":0,"height":0,"label":"Ping","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"45","removeOlderPoints":"1000","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":210,"y":180,"wires":[["cdb62d9a.2ee38"]]},{"id":"dc9d4940.f02f58","type":"debug","z":"49db1205.5220ec","name":"Router Ping","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":40,"wires":[]},{"id":"3ffdf31.6dcdd0c","type":"change","z":"49db1205.5220ec","name":"Komisch","rules":[{"t":"set","p":"payload","pt":"msg","to":"Something is wrong. Please check the log.","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":200,"wires":[["c8db46b.7c724b8"]]},{"id":"eef6b22a.4430c","type":"switch","z":"49db1205.5220ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"btwn","v":"0","vt":"num","v2":"20","v2t":"num"},{"t":"else"}],"checkall":"false","repair":false,"outputs":2,"x":110,"y":100,"wires":[["600fc82.4be9938","fe6b63b4.3b7c2","48a0e8ce.041278"],[]]},{"id":"cdb62d9a.2ee38","type":"debug","z":"49db1205.5220ec","name":"Ping 2","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":220,"wires":[]},{"id":"d72bac9f.5104e","type":"debug","z":"49db1205.5220ec","name":"Main Switch","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":240,"wires":[]},{"id":"b45a62e9.a7edd","type":"switch","z":"49db1205.5220ec","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"}],"checkall":"false","repair":true,"outputs":1,"x":730,"y":300,"wires":[["2df8a36b.3ec9ec"]]},{"id":"48a0e8ce.041278","type":"debug","z":"49db1205.5220ec","name":"Ping 1","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":370,"y":180,"wires":[]},{"id":"f9df49fe.c0cc18","type":"ui_group","name":"Internet","tab":"53c1dbd2.f17c34","order":1,"disp":true,"width":"6","collapse":true},{"id":"53c1dbd2.f17c34","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
